@media (min-width: 1200px) {
    .header:hover .header__bottom {
        padding-top: 12px;
        max-height: 40px;
        visibility: visible;
    }
}
@media (min-width: 576px) {
    .slider.mobile-only .slider-track {
        transform: none !important;
    }
}