@media (max-width: 1600px) 
    .container
        width: 1320px
    .error404
        &__owl 
            right: 62vw
            width: 526px
    .header
        &__menu 
            padding: 140px 0px 40px
            .container 
                a 
                    margin-bottom: 15px
                    font-size: 33px
    .main
        &__reviews 
            &-audio 
                gap: 20px 30px
                &-item 
                    &:nth-child(2n)
                        &::before
                            left: calc(100% + 15px)
        &__promo 
            &-medal 
                margin-right: 280px
            &-cube2
                width: 400px
                top: 25vw
                left: 78%
            &-cube1
                top: 320px
                right: 83%
                width: 246px
        &__rucovod
            &-cloud 
                display: none
            &-back 
                width: 1600px
                min-width: unset
@media (max-width: 1400px) 
    .container
        width: 1140px
    button, .button 
        padding: 15px 20px
    .header
        &__button 
            width: 240px
            margin-left: 40px
        &__map 
            margin-right: 40px
    .footer 
        &__cloud 
            width: 1420px
            max-width: 1420px
            min-width: 1420px
        &__top 
            padding: 60px 0px 30px
        &__title 
            margin-bottom: 40px
        &__list 
            padding-bottom: 50px
    input 
        padding: 15px
    .single-news
        padding-top: 150px
        &__image 
            max-height: 570px
    .error404
        &__owl
            width: 380px
    .modal
        &__success
            height: 550px
    .works 
        &__promo 
            .main__promo
                &-title.title
                    &84 
                        width: 500px
                    &88
                        width: 408px
                        margin-bottom: 80px
                    &90
                        width: 500px
                        margin-bottom: 70px
                &-images.images
                    &92
                        top: 420px
        &__points 
            &-row 
                margin-bottom: 25px
                .works__points-item
                    margin-right: 25px
            &-item 
                width: 530px
            &.cols 
                grid-template: auto / repeat(3, 1fr)
    .main
        &__stocks 
            &-back 
                width: 1520px
            &-line 
                gap: 15px
            &-item 
                height: 286px
                padding: 20px
        &__news 
            &-item 
                padding: 15px
                &-image 
                    height: 180px
        &__map 
            height: 720px
        &__reviews
            &-audio 
                grid-template: auto / 1fr 
                gap: 15px
                &-watch 
                    width: 72px
                    height: 42px
                    font-size: 12px
                    left: 0
                    top: unset
                    bottom: 20px
                    img 
                        width: 42px
                        transform: rotate(270deg)
                        right: unset
                        left: 0
                        bottom: calc(100% + 6px)
                &-item 
                    &:nth-child(2n - 1), &:last-child
                        margin-left: 80px
                    &:nth-child(2n)
                        &::before
                            display: none
            &-image 
                width: 265px
            &-content 
                margin-top: 60px
            &-media 
                width: 460px
                margin-right: 30px
                iframe, video 
                    height: 290px
                    margin-bottom: 40px
                &-watch 
                    left: 0
            &-slider 
                &-arrows 
                    margin-left: 20px
                &-track 
                    width: 250px
                    .review 
                        border-radius: 28px
                        width: 185px
                        &.r0, &.r1, &.r2, &.r3, &.r4
                            left: calc(100% + 20px)
                        &.r0 
                            width: calc(100% - 27px)
        &__rucovod
            &-back 
                width: 1400px
            &-person
                &-plate 
                    width: 590px
                &-image 
                    width: 359px
            &-side 
                &-text 
                    margin-top: 48px
        &__form 
            padding: 25px
        &__feedback
            &-descr 
                width: 360px
        &__works
            &-row 
                gap: 16px 
                margin-bottom: 16px
                &.three 
                    .main__works-item
                        min-height: 450px
            &-item 
                &-image 
                    right: -26px
                    max-width: 278px
        &__form 
            &-image 
                width: 335px
                right: -69px
        &__benefit
            margin-bottom: 80px
            &-item 
                width: 360px
                min-height: 170px
                margin-right: 25px
                img 
                    max-height: 182px
                    right: -15px
                &:nth-child(2)
                    margin-top: 40px
        &__promo 
            height: 1250px
            &-dop 
                bottom: 270px
            &-medal 
                margin-right: 142px
                .owl 
                    left: -12px
                    width: 140px
            &-ps 
                .owl 
                    width: 330px
                    right: -34px
            &-title 
                width: 670px
                margin-bottom: 45px
            &-side 
                padding-top: 0
            &-arcs 
                .light
                    top: 95px
                    width: 1400px
                .white 
                    width: 980px
                    top: 220px
            &-items 
                width: 1600px
@media (max-width: 1200px) 
    .container
        width: 960px
    .gallery
        &__overlay
            &-image 
                height: auto
                max-height: 90vh
                max-width: unset 
                width: 80vw
    .text
        &_fz 
            &16 
                font-size: 14px
            &18 
                font-size: 16px
            &20
                font-size: 17px
            &30
                font-size: 25px
            &40 
                font-size: 33px
            &60 
                font-size: 45px
            &80, &90
                font-size: 55px
    .header
        padding: 7px 0px
        &__logo 
            img 
                width: 54px
            span 
                max-width: 140px
        &__button 
            width: 200px
        &.active 
            .header__bottom 
                padding-top: 7px
        &__bottom 
            padding-top: 7px
            .container 
                & > * 
                    margin-right: 15px
                    &::after 
                        height: 10px
                        right: -8px
    .footer 
        &__cloud 
            width: 1220px
            min-width: 1220px
            max-width: 1220px
        &__data 
            padding: 15px 0px
    .error404
        &__owl 
            bottom: -30px
        &__text 
            h1 
                font-size: 250px
            img 
                right: -64px
                width: 60px
    .contacts
        &__promo 
            h1 
                margin-bottom: 100px
        &__main, &__data 
            margin-bottom: 50px
    .single-news
        &__image 
            margin-bottom: 30px
            max-height: 500px
    .works
        &__promo 
            .main__promo
                &-title.title
                    &82
                        width: 150px
                        margin-bottom: 70px
                    &84
                        width: 450px
                    &86 
                        width: 230px
                        margin-bottom: 80px
                    &88
                        width: 350px
                    &90
                        width: 400px
                    &92
                        width: 190px
                &-images.images 
                    &82 
                        .girl
                            width: 1300px
                    &84
                        top: 350px
                        .girl 
                            margin-right: 40px
                        .boy, .girl 
                            width: 560px
                    &86 
                        .girl
                            width: 700px
                            margin-left: 50px
                    &88
                        .girl
                            width: 650px
                    &90
                        .girl, .boy
                            width: 500px
                    &92
                        top: 320px
                        .girl
                            width: 630px
                            margin-right: 380px
        &__simpletext
            padding: 20px
        &__content 
            margin-bottom: 100px
            &-undertitle 
                margin-bottom: 30px
        &__points 
            &-item 
                padding: 20px
                width: auto
                flex: 1
            &.cols 
                grid-template: auto / repeat(3, 1fr)
                gap: 15px
    .main
        &__stocks 
            margin-bottom: 100px
            &-item 
                height: 250px
        &__news 
            margin-top: 100px
            &-line 
                margin-top: 40px
            &-line:not(.slider-list), &-track 
                gap: 12px
            &-item 
                &-image 
                    height: 160px
                &-image, &-descr 
                    margin-bottom: 15px
        &__reviews
            margin-bottom: 100px
        &__map 
            &-cloud 
                max-width: 1220px
                min-width: 1220px
                width: 1220px
        &__rucovod
            &-back
                width: 1200px
            &-side 
                padding-top: 0
                &-title 
                    width: 295px
                &-text 
                    margin-top: 46px
                    width: 400px
                    span 
                        margin-bottom: 30px
            &-person
                width: 340px
                &-plate 
                    width: 470px
                    bottom: 116px
                &-image 
                    width: 290px
                h5 
                    margin-bottom: 20px
            &-arcs
                .light 
                    width: 1270px
                .white 
                    width: 800px
                    top: 88px
        &__form 
            width: 570px
            form 
                label 
                    margin-bottom: 10px
        &__feedback
            margin-bottom: 100px
            &-text 
                h2 
                    max-width: 340px
            &-descr 
                padding: 20px
                margin: 30px 0px 20px auto
        &__works
            margin-bottom: 100px 
            h2 
                margin-bottom: 30px
            &-row 
                &.three 
                    .main__works-item
                        min-height: 410px
            &-item 
                padding: 20px
                &-image
                    right: -25px
                    max-width: 213px
                h4 
                    margin-bottom: 15px
                &-descr 
                    max-width: 290px
        &__gallery 
            margin-bottom: 100px
            &-item 
                // width: 300px
                // height: 300px
                width: calc(34vw - 30px)
                height: calc(34vw - 30px)
        &__benefit
            &-item
                width: 305px
                min-height: 130px
                padding: 20px
                img 
                    max-height: 160px
        &__promo 
            padding-top: 85px
            height: 1000px
            &-items 
                width: 1200px
            &-cube1
                top: 160px
                right: 83%
                width: 154px
            &-cube2
                width: 222px
                top: 41vw
                left: 85%
            &-title 
                width: 500px
                margin-bottom: 40px
            &-images 
                top: 240px
                .girl, .boy 
                    width: 400px
                .girl 
                    margin-right: 280px
                .cloud 
                    width: 1300px
            &-arcs 
                .light 
                    width: 1100px
                    top: 80px
                .white 
                    width: 800px
                    top: 175px
            &-text 
                span 
                    margin-bottom: 20px
                button, .button 
                    margin: 35px auto 0px
                .arrow 
                    width: 73px
                    bottom: 12px
                    right: 10px
            &-dop 
                bottom: 170px
            &-medal 
                margin-right: 110px
                width: 410px
                padding: 10px 10px 10px 90px
                .medal 
                    width: 84px
                span 
                    margin-bottom: 5px
            &-ps 
                width: 28px
                padding: 10px
                width: 355px
@media (max-width: 992px) 
    .container
        width: 720px
    .header
        &__button 
            display: none
        &__menu 
            &-owl 
                width: 320px
            .container 
                a 
                    font-size: 25px
                    margin-bottom: 2px
    ul 
        li 
            padding-left: 25px
    .footer 
        &__list 
            padding-bottom: 40px
            &-block 
                grid-template: auto / repeat(1, 1fr)
        &__cloud 
            width: 1000px
            max-width: 1000px
            min-width: 1000px
        &__main 
            flex-direction: column
            .header__logo
                margin-bottom: 20px
    .single-news
        padding-top: 100px
        &__promo h1, &__date, &__detail 
            margin-bottom: 15px
        &__image 
            max-height: 375px
        &__navigate
            &-arrow 
                width: 140px
                height: 90px
    .works 
        &__points 
            &-row 
                margin-bottom: 15px
                .works__points-item
                    margin-right: 15px
            &-item 
                padding: 15px 20px
            &.cols 
                grid-template: auto / repeat(2, 1fr)
        &__simpletext
            padding: 15px 20px
    .main
        &__stocks 
            h2 
                margin-bottom: 30px
            &-back 
                width: 1000px
            &-line 
                grid-template: auto / 1fr
            &-item 
                height: 240px
                .plash 
                    transform: translate(-50%, -50%) !important
                &.long 
                    grid-column-start: unset 
                    grid-column-end: unset
                    align-items: flex-start
                    justify-content: flex-end
        &__news 
            &-line:not(.slider-list), &-track 
                grid-template: auto / 1fr 1fr
        &__reviews
            &-audio 
                &-watch 
                    bottom: -60px
                &-item 
                    &:nth-child(2n - 1), &:last-child
                         margin-left: 0
            &-slider 
                &-arrows 
                    margin-left: 15px
                    img 
                        width: 36px
                &-watch 
                    font-size: 12px
                    height: 34px
                    width: 90px
                    left: calc(100% + 76px)
                    img 
                        width: 38px
                &-track 
                    width: 210px
                    .review 
                        width: 160px
                        border-radius: 23px
                        transform: translateX(calc(-100% - 15px))
                        &.r0, &.r1, &.r2, &.r3, &.r4
                            left: calc(100% + 15px)
                        &.r0 
                            width: calc(100% - 22px)
                        &.r2 
                            transform: translateX(calc(100% + 15px))
                        &.r3 
                            transform: translateX(calc(200% + 30px))
                        &.r4 
                            transform: translateX(calc(300% + 45px))
            &-image 
                width: 187px
            &-media 
                width: 300px
                margin-right: 10px
                iframe, video 
                    height: 200px
                    margin-bottom: 20px
                &-watch 
                    width: 109px
                    height: 38px
                    font-size: 12px
                    img 
                        width: 40px
        &__map 
            height: 670px
            &-cloud 
                width: 1000px
                max-width: 1000px
                min-width: 1000px
        &__rucovod
            padding-top: 250px
            &-back 
                width: 992px
            &-arcs
                .light 
                    width: 1000px
                .white 
                    width: 750px
                    top: 88px
            &-person
                &-plate 
                    width: 395px
                    bottom: 148px
                &-image 
                    width: 218px
                h5 
                    img 
                        width: 422px
                        &.right 
                            transform: translate(-50%,-27%)
        &__feedback
            .container 
                flex-direction: column
                align-items: center
            &-text 
                position: relative
                margin-right: 0
                img 
                    position: absolute
                    top: 100%
                    left: 0
                    width: 55px
                h2 
                    max-width: 100%
            &-descr 
                width: 100%
        &__works
            &-row 
                grid-template: auto / 1fr 1fr !important
            &-item 
                min-height: 380px !important
                &-image 
                    right: -15px
                    max-width: 170px
        &__benefit
            padding-top: 30px
            margin-bottom: 50px
            .container  
                flex-direction: column 
                align-items: center
            &-item 
                margin-bottom: 30px
                margin-right: 0
                width: 484px
                img 
                    right: 40px
                &:nth-child(2)
                    margin-top: 0
                &:last-child
                    margin-bottom: 0 !important
        &__promo 
            &-dop 
                flex-direction: column-reverse
                justify-content: space-between
                align-items: center
                width: 600px
            &-medal 
                align-self: flex-start
                margin-right: 0
                margin-top: 60px
            &-cube2
                left: 80%
                top: 69vw 
            &-ps 
                align-self: flex-end
            &-dop 
                bottom: 50px
@media (max-width: 768px) 
    .container
        width: 540px
    .text
        &_fz 
            &18 
                font-size: 15px
            &20
                font-size: 16px
            &30
                font-size: 23px
            &40 
                font-size: 26px
            &60
                font-size: 30px
            &80
                font-size: 37px
            &90
                font-size: 46px
            &100
                font-size: 80px
    .header
        &__map 
            display: none
        &__menu 
            display: none !important
        &__burger
            display: flex
        & > .container 
            z-index: 2
        &__bottom 
            display: flex
            flex-direction: column
            align-items: center
            position: absolute
            top: 0
            left: 0
            max-height: 0
            overflow: hidden
            padding: 0
            width: 100%
            z-index: 1
            background: linear-gradient(359deg, rgba(233, 230, 243, 0.84) 0.46%, #E9E6F3 25.85%, #E9E6F3 67.54%, #FFF 99.54%)
            &-sub 
                display: flex !important
                &.active 
                    padding-bottom: 20px
            .header
                &__map, &__phone, &__button
                    display: flex
                &__button
                    width: 100%
                    max-width: 270px
                &__map, &__phone 
                    margin-bottom: 27px
                    width: 100%
                    max-width: 220px
            &-info 
                display: flex
                flex-direction: column
                align-items: center
                width: 100%
                margin-top: auto
            &.active 
                height: 100vh
                max-height: 100vh
                padding: 100px 0px 40px
                overflow: auto
            .container 
                flex-direction: column
                margin-bottom: 20px
                & > *
                    font-family: 'Amatic', 'Manrope' sans-serif
                    font-size: 24px
                    line-height: 32px
                    font-weight: 700
                    letter-spacing: 2.4px 
                    text-transform: uppercase
                    text-align: center
                    margin-right: 0
                    margin-bottom: 20px
                    &::after
                        display: none
                    &:last-child
                        margin-bottom: 0 !important
    .footer
        &__title
            margin-bottom: 30px
        &__cloud 
            transform: translate(-50%,-44%)
            width: 2000px
            max-width: 2000px
            min-width: 2000px
        &__data 
            .container 
                flex-direction: column
            &-item 
                margin-right: 0
                margin-bottom: 15px
                &:last-child 
                    margin-bottom: 0 !important
        &__right 
            flex-direction: column 
        &__time 
            margin-right: 0
            margin-bottom: 20px
        &__main 
            .header__map 
                display: flex
                margin-bottom: 20px
                margin-right: 0
                margin-left: 0
            .header__logo
                position: relative
                img 
                    width: 154px
                span 
                    max-width: 260px
                    width: 260px
                    font-size: 23px
                    line-height: 26px
                    letter-spacing: 2.6px
                    position: absolute
                    top: 0
                    left: 100px
    .modal 
        .main__form-image
            display: none
        &__success
            height: 300px
            text-align: center
            h3 
                img 
                    width: 50px
                    margin-right: 10px
            &-owl 
                display: none
            .main__form 
                width: 500px
                display: flex
                flex-direction: column
                align-items: center
                justify-content: center
    .error404
        .main__map-cloud.bott
            top: 91%
        &__owl 
            display: none
        &__text 
            h1 
                font-size: 180px
    .contacts 
        &__promo h1, &__main, &__data 
            margin-bottom: 40px
        &__data, &__main 
            flex-direction: column
            align-items: center
        &__main 
            .header__map
                display: flex
            & > * 
                margin-right: 0
                margin-bottom: 20px
                &:last-child
                    margin-bottom: 0 !important
    .works
        &__promo 
            .main__promo
                &-title.title
                    &82
                        width: 120px
                    &84 
                        width: 350px
                        margin-top: 10px
                    &86 
                        width: 170px
                        margin-bottom: 40px
                    &88
                        width: 300px
                        margin-top: 10px
                    &90
                        width: 350px
                    &92
                        width: 150px
                &-images.images 
                    &82 
                        top: 300px
                        .girl 
                            width: 1000px
                    &84 
                        .boy, .girl 
                            width: 460px
                    &86 
                        top: 300px
                        .girl
                            width: 550px
                    &88
                        .girl
                            width: 550px
                            margin-left: 150px
                    &90
                        .girl, .boy
                            width: 400px
                    &92
                        .girl 
                            width: 530px
                            margin-right: 330px
        &__content
            margin-bottom: 50px
            &-undertitle 
                margin-bottom: 15px
                span 
                    padding: 0px 5px
            &-title 
                margin: 10px 0px 20px
        &__points 
            &-row 
                display: flex
                flex-direction: column
                .works__points-item
                    margin-right: 0
                    margin-bottom: 15px
                    &:last-child
                        margin-bottom: 0 !important
            &.cols 
                grid-template: auto / repeat(1, 1fr)
    .main 
        &__stocks 
            margin-bottom: 50px
            &-item 
                padding: 25px 20px
                span 
                    font-size: 14px
        &__news 
            margin-top: 70px
            &-line
                margin-top: 30px
            &-item 
                &-image 
                    height: 146px
                &-descr 
                    font-size: 12px
        &__reviews
            margin-bottom: 70px
            &-audio 
                &-watch 
                    bottom: 20px
                &-item 
                    &:nth-child(2n - 1), &:last-child
                        margin-left: 80px
            &-slider 
                width: 100%
                &-watch 
                    left: calc(100% + 165px)
                    bottom: 0
                    img 
                        transform: rotate(180deg)
                        top: unset
                        bottom: 100%
            &-image 
                display: none
            &-content
                margin-top: 15px
                flex-direction: column
            &-media 
                width: 410px
                margin: 0px auto 50px
                &-watch 
                    left: 46px
                iframe, video
                    height: 240px
        &__map 
            display: flex
            flex-direction: column
            height: auto
            padding-bottom: 30px
            &-cloud 
                width: 800px
                max-width: 800px
                min-width: 800px
                &.bott 
                    top: 40%
            &-card 
                position: static
                height: 410px
        &__rucovod
            padding-top: 370px
            &-back 
                width: 770px
                bottom: 54%
            &-side 
                &-title 
                    width: 228px
            &-arcs 
                .light 
                    width: 800px
                .white 
                    width: 750px
                    top: 70px
            &-content
                .container 
                    flex-direction: column
                    align-items: center
            &-person
                width: 100%
                &:first-child 
                    text-align: left
                &:last-child 
                    text-align: right
                &-plate 
                    width: 395px
                    bottom: 97px
                    left: 90%
                    &.left 
                        left: 14%
                &-image 
                    width: 218px
                    &.right 
                        top: 30px
                h5 
                    img 
                        width: 473px
                        left: 18%
                        top: 0
                        transform: translate(-50%,-37%) !important
                        &.right 
                            left: unset
                            right: -82%
        &__form 
            width: 100%
            &-image 
                width: 260px
        &__feedback
            margin-bottom: 50px
            &-text 
                margin-bottom: 50px
                img 
                    width: 50px
                    top: 90%
                    left: -14px
            &-descr
                margin: 30px 0px 0px auto
        &__works
            margin-bottom: 50px
            &-row 
                grid-template: auto / 1fr !important
            &-item 
                min-height: 310px !important
                &-image 
                    max-width: 230px
                    right: -15px
        &__gallery 
            margin-bottom: 50px
            &-item 
                border-radius: 20px
                margin-right: 15px
                // width: 195px
                // height: 195px
                width: calc(33vw - 15px)
                height: calc(33vw - 15px)
        &__promo 
            padding-top: 70px
            height: 880px
            &-cube1
                top: 125px
                right: 83%
            &-cube2
                left: 75%
                top: 370px
            &-title 
                width: 400px
            &-arcs 
                .light
                    width: 840px
                    top: 70px
                .white 
                    width: 590px
                    top: 140px
            &-items 
                top: 70px
                width: 800px
            &-images 
                .boy, .girl 
                    width: 250px
                .girl 
                    margin-right: 260px
            &-text 
                width: 390px
                .arrow 
                    width: 66px
                    bottom: 12px
                    right: 0
            &-medal
                .owl 
                    width: 110px
            &-ps 
                .owl 
                    width: 260px
                    right: 0
@media (max-width: 576px) 
    .container
        width: 100%
        padding: 0px 15px
    input 
        padding: 20px
    ul 
        li 
            margin-bottom: 5px
            &::before 
                width: 10px
                height: 10px
    .gallery
        &__overlay
            &-block 
                .arrow 
                    width: 32px
    .modal
        &__body 
            width: calc(100% - 30px)
        &__close 
            width: 30px
            top: 5px
            right: 5px
        &__success
            height: 200px
            .main__form 
                width: 100%
    .footer 
        &__list 
            &-block 
                font-size: 12px
                line-height: 22px
        &__top 
            padding: 30px 0px
        &__data 
            border: none
            .container
                align-items: flex-start
        &__main 
            .header__logo
                margin-bottom: 40px
        &__copy 
            .container 
                flex-direction: column
                align-items: flex-start
                span 
                    margin-bottom: 10px
    .header
        padding: 5px 0px
        &__logo 
            img 
                width: 43px
                margin-right: 12px
            span 
                font-size: 16px
                width: 101px
                letter-spacing: 0.8px
        &__phone 
            align-items: center
            span 
                font-size: 12px
        .header__phone 
            img 
                display: none
            span 
                padding-bottom: 0
            a 
                font-size: 12px
        &__bottom 
            .container 
                & > * 
                    margin-bottom: 12px
            .header
                &__phone, &__map
                    display: flex
                    margin-bottom: 14px
    .single-news
        &__navigate
            &-arrow 
                width: 110px
                height: 80px
    .error404
        &__text 
            width: 230px
            img 
                width: 45px
                right: -37px
                transform: rotate(-31deg)
                bottom: 40px
    .works
        &__promo 
            .main__promo
                &-title.title
                    &82 
                        width: 110px
                        margin-bottom: 40px
                    &84 
                        width: 310px
                        margin-top: 0
                    &86 
                        width: 140px
                    &88
                        width: 250px
                        margin-top: 0
                        margin-bottom: 40px
                    &90
                        width: 300px
                        margin-bottom: 40px
                    &92
                        width: 120px
                &-images.images 
                    top: 405px
                    &82
                        .girl 
                            width: 700px
                    &84 
                        .girl, .boy
                            width: 282px
                    &86 
                        .girl
                            width: 360px
                            margin-left: 0px
                    &88
                        .girl 
                            width: 400px
                            margin-left: 0
                    &90
                        .girl, .boy
                            width: 300px
                    &92
                        .girl
                            width: 400px
                            margin-right: 0
    .main
        &__stocks 
            &-item 
                height: 167px
        &__news 
            &-line:not(.slider-list) 
                grid-template: auto / 1fr
            &-item 
                &-image 
                    height: 42vw
                    min-height: 146px
            &-track
                display: flex
                width: fit-content
                gap: unset
                .main__news-item
                    margin-right: 15px
                    width: 280px
                    &-image 
                        height: 146px
            &-arrows 
                display: flex
        &__reviews
            &-media 
                max-width: 100%
                &-watch 
                    left: 100px
                    bottom: 103%
            &-slider 
                &-watch 
                    left: 100%
                    bottom: -45px
                &-arrows 
                    margin-left: 6px
                    img 
                        width: 32px
                    .left 
                        margin-right: 3px
        &__map 
            &-cloud 
                width: 600px
                max-width: 600px
                min-width: 600px
                &.bott 
                    top: 37%
            .main__form-image
                display: none
        &__rucovod
            &-side 
                width: 100%
                &-text 
                    margin-top: 87px
                    width: 100%
                    max-width: 345px
                    span 
                        font-size: 12px
                        line-height: 22px
                        letter-spacing: 0.24px
                        margin-bottom: 20px
            &-person
                &-plate 
                    bottom: 140px
                &-descr 
                    font-size: 12px
                    line-height: 18px
                    letter-spacing: 0.24px
                h5 
                    span 
                        font-size: 20px
                    img 
                        width: 583px
                        left: 18
                        top: -41px
                        &.right 
                            right: -145%
                            top: -10px
        &__feedback
            &-text 
                width: 100%
            &-descr 
                width: 245px
                padding: 15px 30px
                font-size: 12px
                line-height: 22px
                margin: 30px 0px 0px
        &__form 
            padding: 20px 15px
            border-radius: 20px
            &-image 
                right: -37px
                width: 173px
                bottom: 100%
            form 
                width: 100%
                label 
                    margin-bottom: 20px
                h3 
                    font-size: 30px
                    line-height: 38px
        &__works
            &-item 
                min-height: 368px !important
                &-descr 
                    max-width: 265px
                    font-size: 12px
                    letter-spacing: 0.24px
                    line-height: 20px
                &-image 
                    max-width: 175px
                    right: 0
        &__gallery 
            &-item 
                width: calc(50vw - 15px)
                height: calc(50vw - 15px)
        &__benefit 
            padding-top: 10px
            &-item 
                width: 100%
                border-radius: 20px
                padding: 20px
                min-height: 99px
                img 
                    max-height: 125px
                    right: 10px
                span 
                    font-size: 20px
                    letter-spacing: 1px
                    br 
                        display: none
                &:nth-child(2)
                    justify-content: flex-end
                    img 
                        right: unset
                        left: 0
        &__promo 
            padding-top: 85px
            height: 965px
            background: linear-gradient(359deg, rgba(255, 255, 255, 0.08) 11.44%, #E9E6F3 36.13%, #E9E6F3 75.64%, #FFF 106.25%)
            &-images
                top: 405px
                .girl, .boy
                    width: 187px
                .girl 
                    margin-right: 30px
                .cloud 
                    width: 600px
                    bottom: -34px
            &-cube1
                width: 53px
                top: 347px
                left: 0%
                right: unset
            &-cube2
                width: 48px
                left: unset
                right: -2%
                top: 350px
            &-back 
                width: 606px
                top: 41%
                height: auto
                max-width: unset
                transform: translate(-50%, 0)
                object-fit: contain
            &-items 
                top: 86px
                width: 585px
            &-title 
                width: 320px
                &.desk
                    display: none
                &.mobile 
                    display: inline-block
            &-arcs 
                .light, .white 
                    object-fit: cover 
                    object-position: top
                .light 
                    width: 806px
                    height: 608px
                .white 
                    width: 635px
                    height: 555px
                .mobile 
                    display: block
                .desk
                    display: none
            &-text 
                width: 336px
                .arrow 
                    width: 50px
                    bottom: 28px
                &, span 
                    font-size: 12px
                    line-height: 150%
                span 
                    margin-bottom: 10px
                    width: 263px
                    margin-left: auto
                    margin-right: auto
                button, .button 
                    margin-top: 30px
            &-dop 
                width: 345px
                bottom: 30px
                .owl
                    width: 86px
            &-medal 
                padding: 20px 20px 20px 77px
                width: 345px
                &-text 
                    font-size: 12px
                    line-height: 150%
                span 
                    letter-spacing: 2.3px
                .medal
                    width: 97px
                    left: -29px
            &-ps 
                font-size: 12px
                line-height: 150%
                letter-spacing: unset
                padding: 10px 20px
                width: 254px
                .owl
                    width: 175px
                .dot 
                    width: 22px
@media (max-width: 360px)
    .main
        &__reviews
            &-audio 
                &-watch 
                    bottom: -42px
                &-item 
                    &:nth-child(2n - 1), &:last-child
                        margin-left: 31px
    .header
        .header
            &__logo 
                img 
                    width: 35px
                    margin-right: 6px
                span
                    font-size: 14px
                    line-height: 15px
            &__burger 
                width: 30px
                height: 42px
                margin-left: 10px
            &__phone 
                img 
                    display: none
                a 
                    font-size: 11px
                span 
                    font-size: 10px 
    .footer
        &__main 
            .header__logo 
                img 
                    width: 121px
                span 
                    font-size: 18px
                    max-width: 230px
                    width: 230px